body::-webkit-scrollbar {
  display: none;
}

.welcome-logo {
  text-align: center;
  margin-top: 10vh;
}

#wel-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  width: 25%;
}

#ask-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-bottom: 5vh;
}

.about {
  margin: 5vh;
}

.para {
  line-height: 1cm;
}

.foot {
  display: flex;
  margin: 5vh;
  justify-content: space-around;
}

@media only screen and (max-width: 700px) {
  #ask-logo {
    width: 60% !important;
  }

  #wel-logo {
    width: 40%;
  }
}
